<div class="main">
  <div class="online-left">
    <div class="online-search">
      <span class="search-icon"></span><input type="text" placeholder="搜索昵称">
    </div>
    <div class="online-members">
      <div class="member"><div class="avator"><img src="http://img.mukewang.com/53ecf01d0001a2e601800180-100-100.jpg"><label class="nickname">兰八福</label></div><div class="joinTime">三小时前</div></div>
      <div class="member"><div class="avator"><img src="http://img.mukewang.com/53ecf01d0001a2e601800180-100-100.jpg"><label class="nickname">兰八福</label></div><div class="joinTime">三小时前</div></div>
      <div class="member"><div class="avator"><img src="http://img.mukewang.com/53ecf01d0001a2e601800180-100-100.jpg"><label class="nickname">兰八福</label></div><div class="joinTime">三小时前</div></div>
      <div class="member"><div class="avator"><img src="http://img.mukewang.com/53ecf01d0001a2e601800180-100-100.jpg"><label class="nickname">兰八福</label></div><div class="joinTime">三小时前</div></div>
    </div>
  </div>
  <div class="chart-zone">
    <div class="messages-box"></div>
    <div class="edit-box">
      <div class="edit-headbar"></div>
      <div class="edit-content">
        <pre id="editArea" contenteditable="true"></pre>
      </div>
      <div class="edit-action"></div>
    </div>
  </div>
</div>
