<div class="card">
  <div class="card-head">
    <div class="game-time">{{ game.gameTime }}</div>
    <div class="game-status">{{ game.gameStatus }}</div>
  </div>
  <div class="card-content">
    <div class="team-home">
      <div class="team-home-icon"><img src="{{ game.teams[0].icon }}" alt="{{ game.teams[0].name }}"></div>
      <div class="team-home-name">{{ game.teams[0].name }}</div>
    </div>
    <div class="team-points">
      VS      
    </div>
    <div class="team-guest">
      <div class="team-guest-icon">{{ game.teams[1].icon }}</div>
      <div class="team-guest-name">{{ game.teams[1].name }}</div>
    </div>
  </div>
  <div class="card-action">
    <div class="analyse card-action-btn"><div class="btn">数据分析</div></div>
    <div class="talk card-action-btn"><div class="btn">赛后讨论</div></div>
  </div>
</div>
